@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Special+Gothic+Expanded+One&family=Bebas+Neue&family=Bonheur+Royale&family=Gloria+Hallelujah&family=Shadows+Into+Light&display=swap');

body {
    background-image: url("images/projectbg_desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 9vh;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(0px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: none;
}

#header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-elements {
    color : white;
    font-size: 3vh;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.2vw;
    font-style: normal;
    text-decoration: none;
    padding: 0%;
}

.header-parts {
    display: flex;
    justify-content: space-between;
}

#hp1 p {
    color : white;
    font-size: 3.2vh;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.2vw;
    font-style: normal;
    text-decoration: none;
    padding: 0%;
}

#hp2 {
    width: 25vw;
}

.menu {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

#projects {
    font-size: 5vw;
    color: white;
    margin: 0%;
}

.projectbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5%;
    width: 90vw;
}

.box {
    display: flex;
    cursor: pointer;
    width: 27vw;
    min-height: 27vw;
    background-color: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(0px);
    border-radius: 20px;
    color: white;
    transition: transform 1s;
    justify-content: center;
    margin-top: 2vw;
}

.box-close {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    position: relative;
}

.box-open {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: default;
}

.box-close-heading {
    text-align: center;
    width: 100%;
    height: fit-content;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.3vw;
    margin-bottom: 15px;
}

.box-close-description {
    margin-top: 0%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.35vw;
    text-align: left;
}

.box-open-heading {
    text-align: center;
    width: 100%;
    height: fit-content;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.7vw;
    margin-bottom: 30px;
    margin-top: 20px;
}

.box-open-description {
    margin-top: 0%;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.35vw;
    text-align: left;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 10px;
}

.youtube-video {
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    height: 22vw;
}

.box-open-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-open-main-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.box-open-main-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hyperlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

.box-right-links {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6vw;
    margin-top: 0%;
    color: #A6D6D6;
    text-decoration: none;
    letter-spacing: 1px;
}

.screenshots-inside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.screenshot-image {
    width: 25vw;
    border-radius: 20px;
}

.screenshot-image2 {
    width: 50vw;
    border-radius: 20px;
}

#ss-img1 {
    transform: rotate(10deg);
    z-index: 10;
}

#ss-img2 {
    transform: rotate(-15deg);
    z-index: 30;
}

#ss-img3 {
    transform: rotate(20deg);
    z-index: 20;
}

.team-members {
    margin-top: 0%;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.35vw;
    text-align: left;
    margin-bottom: 10px;
    text-align: center;
}

.team-img {
    width: 30vw;
    align-self: center;
    margin-top: 4vw;
    border-radius: 30px;
    margin-bottom: 2vw;
}

.view-more-box {    
    border-radius: 20px;
    white-space: nowrap;
    width: 10vw;
    background-color: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(10px);
    height: 2vw;
    position: absolute;
    bottom: 0;
    align-self: center;
    margin-bottom: 1vw;
}

.view-more-text {
    text-align: center;
    margin: auto;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3vw;
}

.arrow-down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 0.5vw;
}

@media only screen and (max-width: 768px) {

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-repeat: repeat;
        background-position: center top;
    }

    body {
        background-image: url("images/projectbg_mobile.png");
    }


    #header {
        transition: height 0.5s;
        justify-content: space-evenly;
        height: 12vh;
    }

    #header-div {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .header-elements {
        font-size: 3vh;
        margin-top: 2vh;
    }

    #hp1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    #hp1 p {
        font-size: 5vh;
        margin-top: -1.7vw;
    }
    
    #hp2 {
        margin-left: auto;
    }

    .menu {
        margin-left: auto;
    }

    #projects {
        font-size: 12vw;
    }

    .projectbox {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .box {
        width: 80vw;
        min-height: 80vw;
    }

    .box-close-heading {
        font-size: 5.5vw;
    }

    .box-close-description {
        font-size: 4vw;
    }

    .box-open-heading {
        font-size: 5.5vw;
    }

    .box-open-description {
        margin: auto;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        font-size: 4vw;
    }

    .box-open-main {
        flex-direction: column;
    }

    .box-open-main-left {
        width: 100%;
    }

    .box-open-main-right {
        width: 100%;
    }

    .youtube-video {
        height: 50vw;
    }

    .hyperlinks {
        flex-direction: column;
        align-items: center;
    }

    .box-right-links {
        font-size: 3vw;
    }

    .screenshots-inside {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .screenshot-image {
        width: 60vw;
    }

    .screenshot-image2 {
        width: 60vw;
    }

    .team-members {
        font-size: 3vw;
    }

    .team-img {
        width: 60vw;
        margin-bottom: 5vw;
    }
    .view-more-box {
        width: 40vw;
        height: 5vw;
        margin-bottom: 3vw;
    }

    .view-more-text {
        font-size: 3vw;
    }
}
