@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Special+Gothic+Expanded+One&display=swap');

body {
    background-image: url("images/projectbg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#projects {
    font-size: 5vw;
    color: white;
    margin: 0%;
}

.projectbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5%;
    width: 90vw;
}

.box {
    display: flex;
    cursor: pointer;
    width: 27vw;
    min-height: 27vw;
    background-color: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: white;
    transition: transform 1s;
    justify-content: center;
    margin-top: 2vw;
}

.box-close {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

.box-open {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: default;
}

.box-close-heading {
    text-align: center;
    width: 100%;
    height: fit-content;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.3vw;
    margin-bottom: 15px;
}

.box-close-description {
    margin-top: 0%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.35vw;
    text-align: left;
}

.box-open-heading {
    text-align: center;
    width: 100%;
    height: fit-content;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.7vw;
    margin-bottom: 30px;
    margin-top: 20px;
}

.box-open-description {
    margin-top: 0%;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.35vw;
    text-align: left;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 10px;
}

.youtube-video {
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    height: 22vw;
}

.box-open-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-open-main-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.box-open-main-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hyperlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

.box-right-links {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6vw;
    margin-top: 0%;
    color: #A6D6D6;
    text-decoration: none;
    letter-spacing: 1px;
}

.screenshots-inside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.screenshot-image {
    width: 25vw;
    border-radius: 20px;
}

.screenshot-image2 {
    width: 50vw;
    border-radius: 20px;
}

#ss-img1 {
    transform: rotate(10deg);
    z-index: 10;
}

#ss-img2 {
    transform: rotate(-15deg);
    z-index: 30;
}

#ss-img3 {
    transform: rotate(20deg);
    z-index: 20;
}

.team-members {
    margin-top: 0%;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.35vw;
    text-align: left;
    margin-bottom: 10px;
    text-align: center;
}

.team-img {
    width: 30vw;
    align-self: center;
    margin-top: 4vw;
    border-radius: 30px;
    margin-bottom: 2vw;
}

@media only screen and (max-width: 768px) {

    #projects {
        font-size: 12vw;
    }

    .projectbox {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .box {
        width: 80vw;
        min-height: 80vw;
    }

    .box-close-heading {
        font-size: 5.5vw;
    }

    .box-close-description {
        font-size: 4vw;
    }

    .box-open-heading {
        font-size: 5.5vw;
    }

    .box-open-description {
        margin: auto;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        font-size: 4vw;
    }

    .box-open-main {
        flex-direction: column;
    }

    .box-open-main-left {
        width: 100%;
    }

    .box-open-main-right {
        width: 100%;
    }

    .youtube-video {
        height: 50vw;
    }

    .hyperlinks {
        flex-direction: column;
        align-items: center;
    }

    .box-right-links {
        font-size: 3vw;
    }

    .screenshots-inside {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .screenshot-image {
        width: 60vw;
    }

    .screenshot-image2 {
        width: 60vw;
    }

    .team-members {
        font-size: 3vw;
    }

    .team-img {
        width: 60vw;
        margin-bottom: 5vw;
    }
}