@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Bebas+Neue&family=Bonheur+Royale&family=Gloria+Hallelujah&family=Shadows+Into+Light&display=swap');


#header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 9vh;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(10px);
    margin: none;
}

#header2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 9vh;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(10px);
    margin: none;
}

#header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-elements {
    color : #212842;
    font-size: 3vh;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.2vw;
    font-style: normal;
    text-decoration: none;
    padding: 0%;
}

.header-parts {
    display: flex;
    justify-content: space-between;
}

#hp1 p {
    color : #e6d7c4;
    font-size: 25px;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.2vw;
    font-style: normal;
    text-decoration: none;
    padding: 0%;
}

#hp2 {
    width: 20vw;
}

#hp22 {
    width: 20vw;
}

.menu {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #e6d7c4;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }


#main {
    display: flex;
}

#left-section {
    display: flex;
    flex-direction: column;
    background-color: #212842;
    width: 50%;
}

#main-section {
    display: flex;
    flex-direction: column;
    background-color: #e6d7c4;
    width: 50%;
}

#left-section-name {
    color: #e6d7c4;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 2px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 190%;
}

#resume-photo {
    width: 25vw;
    align-self: center;
    border-radius: 40px;
}

.left-section-headings {
    color: #e6d7c4;
    text-align: center;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 190%;
    margin-top: 10px;
}

.left-section-name {
    display: list-item;
    color: #e6d7c4;
    margin-left: 10%;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.left-section-description {
    color: #e6d7c4;
    margin-left: 6.8vw;
    margin-right: 10%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
}

.left-section-text {
    color: #e6d7c4;
    text-decoration: none;
    margin-bottom: 2px;
    margin-left: 2vw;
    font-size: 120%;
}

#profile-summary {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right-section-headings {
    color: #212842;
    text-align: center;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 190%;
    margin-top: 10px;
}

#profile-summary-text {
    color: #212842;
    display: flex;
    text-align: center;
    align-self: flex-end;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    margin-left: 10%;
    margin-right: 10%;
}

.right-section-name {
    display: list-item;
    color: #212842;
    margin-left: 10%;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
}

.right-section-description {
    color: #212842;
    margin-left: 6.8vw;
    margin-right: 10%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
}

@media only screen and (max-width: 768px){

    #header {
        transition: height 0.5s;
        justify-content: space-evenly;
        height: 12vh;
    }

    #header-div {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .header-elements {
        font-size: 3vh;
        margin-top: 2vh;
    }

    #hp1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    #hp1 p {
        font-size: 35px;
        margin-top: -1.7vw;
    }
    
    #hp2 {
        margin-left: auto;
    }

    #hp22 {
        margin-left: auto;
    }

    .menu {
        margin-left: auto;
    }


    #main {
        display: flex;
        flex-direction: column;
    }

    #left-section {
        width: 100%;
    }

    #main-section {
        width: 100%;
    }

    #resume-photo {
        width: 50vw;
    }
}