@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bonheur+Royale&family=Gloria+Hallelujah&family=Shadows+Into+Light&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-image: url("images/indexbglong.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#content {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
    left: 10%;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: white;
    margin-bottom: 50px;
}

#content-left {
    position: relative;
    left: 10%;
    margin: auto;
    width: 30vw;
}

#harsh {
    padding: 0%;
    margin: 0%;
    font-family: "Gloria Hallelujah", monospace;
    font-weight: 510;
    font-style: normal;
    font-size: 12vh;
    font-size: 5vw;
}

#content-right {
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

#content-right img {
    width: 30vw;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
    filter: brightness(0.9);
}

#header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 9vh;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-elements {
    color : white;
    font-size: 3vh;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.2vw;
    font-style: normal;
    text-decoration: none;
    padding: 0%;
}

.header-parts {
    display: flex;
    justify-content: space-between;
}

#hp1 p {
    color : white;
    font-size: 3.2vh;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.2vw;
    font-style: normal;
    text-decoration: none;
    padding: 0%;
}

#hp2 {
    width: 35vw;
}

#hello {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 510;
    font-style: normal;
    font-size: 2.5vw;
}

.menu {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

#about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-me-parts {
    display: flex;
    flex-direction: column;
    height: 27.5vw;
    width: 27.5vw;
    background-color: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    text-align: center;
    justify-content: space-between;
}

.info-heading {
    color: white;
    text-align: center;
    margin-top: 2vw;
    font-family: "Bonheur Royale", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
}

.info-link {
    text-decoration: none;
    color: white;
}

.info-text {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.195vw;
    color: white;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

.info-text-social {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 2vw;
    text-align: center;
}

#footer {
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(40px);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 50px;
}

#footer-text {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
}

@media only screen and (max-width: 768px){

    #content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        left: 10%;
        width: 80vw;
    }

    #content-left {
        position: relative;
        left: 0%;
        margin-left: 10%;
        width: 30vw;
        padding-top: 5vh;
    }
    
    #harsh{
        font-size: 20vh;
        font-size: 9vw;
    }
    
    #content-right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        position: relative;
        width: 50%;
        padding-top: 7vh;
        padding-bottom: 7vh;
    }

    #content-right img {
        width: 44vw;
        margin: auto;
    }

    #header {
        transition: height 0.5s;
        justify-content: space-evenly;
        height: 12vh;
    }

    #header-div {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .header-elements {
        font-size: 3vh;
        margin-top: 2vh;
    }

    #hp1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    #hp1 p {
        font-size: 5vh;
        margin-top: -1.7vw;
    }
    
    #hp2 {
        margin-left: auto;
    }

    #hello {
        font-size: 5vw;
        font-weight: 400;
    }

    #about-me {
        flex-direction: column;
        align-items: center;
    }

    .about-me-parts {
        margin-bottom: 10px;
        height: 80vw;
        width: 80vw;
    }

    .info-heading {
        font-size: 17vw;
    }

    .info-text {
        font-size: 3.5vw;
    }

    .info-text-social {
        font-size: 8vw;
    }
}

@media only screen and (max-width: 390px){

    #content-left {
        position: relative;
        left: 0%;
        margin-left: 10%;
        width: 30vw;
        padding-top: 5vh;
    }

    .menu {
        margin-left: auto;
    }

    #hello {
        font-size: 7vw;
        font-weight: 400;
    }
    #harsh{
        font-size: 25vh;
        font-size: 14vw;
    }
}