body {
    background-image: url("images/indexbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#content {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50px;
    left: 10%;
    width: 80vw;
    max-height: 100vh;
    background-color: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: white;
    margin-bottom: 50px;
}

#content-left {
    position: relative;
    left: 10%;
    margin: auto;
    width: 30vw;
}

#harsh {
    padding: 0%;
    margin: 0%;
    font-family: "Gloria Hallelujah", monospace;
    font-weight: 510;
    font-style: normal;
    font-size: 12vh;
    font-size: 5vw;
}

#content-right {
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

#content-right img {
    width: 30vw;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
    filter: brightness(0.9);
}

#header {
    display: flex;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header-elements {
    color : white;
    font-size: 17px;
    font-weight: 400;
    font-family: "Shadows Into Light", monospace;
    font-style: normal;
    text-decoration: none;
    padding: 0%;
}

.header-parts {
    display: flex;
    justify-content: space-between;
}

#hp1 p {
    font-family: "Shadows Into Light", monospace;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding: 0%;
    margin-top: -5px;
}

#hp2 {
    width: 35vw;
}

#hello {
    font-size: 3vw;
    font-weight: 400;
}

@media only screen and (max-width: 768px){
    body {
        background-image: url("images/indexbg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        top: 50px;
        left: 10%;
        width: 80vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.085);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        color: white;
        margin-bottom: 50px;
    }

    #content-left {
        position: relative;
        left: 0%;
        margin-left: 10%;
        width: 30vw;
        padding-top: 5vh;
    }
    
    #harsh{
        padding: 0%;
        margin: 0%;
        font-family: "Gloria Hallelujah", monospace;
        font-weight: 510;
        font-style: normal;
        font-size: 20vh;
        font-size: 9vw;
    }
    
    #content-right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        position: relative;
        width: 50%;
        padding-top: 7vh;
        padding-bottom: 7vh;
    }

    #content-right img {
        width: 44vw;
        margin: auto;
        border-radius: 30px;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
        filter: brightness(0.9);
    }

    .header-parts {
        display: flex;
        justify-content: space-between;
    }

    #hp1 {
        margin: auto;
    }

    #hp1 p {
        font-family: "Shadows Into Light", monospace;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: white;
        padding: 0%;
        margin-top: -5px;
    }
    
    #hp2 {
        display: none;
        width: 35vw;
    }

    #hello {
        font-size: 5vw;
        font-weight: 400;
    }
}

@media only screen and (max-width: 390px){

    #content-left {
        position: relative;
        left: 0%;
        margin-left: 10%;
        width: 30vw;
        padding-top: 5vh;
    }

    #hello {
        font-size: 7vw;
        font-weight: 400;
    }
    #harsh{
        font-size: 25vh;
        font-size: 14vw;
    }
}